@media screen and (min-device-width: 768px){ 
    
    
    
      .circle2 img{
        position: absolute;
        width: 880px;
        top: 250px;
        transform: rotate(0deg);
        margin: 0;
        padding: 0;
      }
    
      
      
    
    
        
    .square img{
      position: absolute;
      left: 220px;
      height: 300px;
      top: 150px;
      margin: 0;
      padding: 0;
      border-radius: 50%;
    }
    
    .profile{
      position: absolute;
      left: 200px;
      width: 370px;
      top: 100px;
      
    }
    /* .line{
      background-color: white;
      height: 0px;
      width: 0px;
      top: 0px;
      left: 0px;
    } */
    /* .line2{
      position: relative;
      background-color: white;
      height: 0;
      width: 0;
      top: 0;
      left: 0;
    } */
    .details-information{
      position: absolute;
      top: 670px;
      left: 120px;
      margin: 15px;
      text-align: center;
    }
    .details-information h3{
      font-size: 35px;
      font-weight: bold;
      left: 0px;
    }
    .details-information h1{
      font-size: 45px;
      font-weight: bold;
      color: blue;  
    }
    .details-information .buttons{
      height: 60px;
      width: 150px;
      font-size: 19px;
      font-weight: bolder;
      color: white;
      background-color: blue;
      
    }
    .Years h1{
      font-size: 40px;
      color: black;
    }
    .Years p{
      font-size: 25px;
    }
    
    .Years{
      position: absolute;
      top: 250px;
      left: 0px;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      gap: 120px;
      color: black;
     
    }
    
    
    .services{
      position: absolute;
      top: 500px;
    }
    
    .services h1{
      font-size: 35px;
      color: black;
    
    }


    
    .heading {
        margin-left: -5rem;
      position: absolute;
      top: -50px;
    
      color: black;
      }
    
    
    .service-order{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    
    
    }
    
    .service-order > .column{
      text-align: center;
      padding: 0 0;
      margin: 0 auto;
    }
    
    .services img{
    margin-top: 50px;
      height: 130px;
      width: 130px;
      top: 110px;
      border-radius: 50%;
    }
    .services a{
      font-size: 25px;
      text-decoration: none;
      color: blue;
    }
    
    .services h6{
      font-size: 35px;
      text-align: center;
    }
    
    
    
    .services-tittle{
      top: 200px;
      left: -50px;
      margin-left: 90px;
      font-size: 25px;
    }
    .projects{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 90rem;
    }
    
    .projects .heading {
      position: absolute;
      color: black;
      left: -10rem;
      top: -100px;
      }
    
      .projects h1{
        font-size: 35px;
       color: black;
    
      }
    
    .card-footer{
      text-align: center;
    }
    
    .projects a{
      height: 50px;
      width:230px;
      margin-bottom: 60px;
      font-size: 21px;
      background-color: blue;
      font-weight: bold;
    }
    
    
    .projects img{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .images1{
 
      height: 380px;
       width: 480px;
       margin-left: 35px;
    }
    
    .image2{
  
        height: 380px;
        width:480px;
        margin-left: 35px;
    }
    
    .image3{
 
        height: 380px;
        width: 480px;
        margin-left: 35px;
     
    }
    
    .projects .card-text{
      text-align: left;
    }
    .projects .card-text1{
      text-align: left;
      color: blue;
    }
    .projects p{
        font-size: 25px;
    }
    
    .projects h5{
      text-align: left;
      font-size: 35px;
    }
    .Testimonials{
      position: relative;
      top: 280rem;
      font-size: 25px;
    }
    .testim .cont div .img img {
      display: block;
      width: 120px;
      height: 120px;
      margin: auto;
      border-radius: 50%;
    }
    
    .contact-section{
      position: relative;
        top: 290rem;
        font-size: 8px;
        width: 100%;
        height: 350px;
        background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(31,28,250),rgb(34, 2, 159));
        padding-bottom: 125px;
      }
    
    
    .contact-section h1{
      top: -60px;
      left: 5px;
      font-size: 45px;
      position: relative;
      font-weight: bold;
    }
    
    .contact-section a{
      position: absolute;
      box-shadow: 0px 0px 5px 1px white;
      border: 1px black;
      font-size: 20px;
      font-weight: 15px;
      left: 320px;
      top: 280px;
    }
    
    .contact-section p{
      position: relative;
      font-size: 20px;
      top: -40px;
      margin: 0px 0px 15px 30px;
    }
    
    .footer{
      position: absolute;
      font-size: 20px;
      background-color: white;
      top: 330rem;
      padding-bottom: 20rem;;
    }

    .footer h5{
        font-size: 25px;
        font-weight: bold;
    }
    
    
    
    .footer-section a{
      color: black;
      text-decoration-line: none;
    }
    
    .footer-section img{
      border-radius: 25px;
      height: 40px;
      left:-25px;
    }
    
    .f-details{
      position: absolute;
      margin-right: 300px;
      top: 90px;
    }
    
    .f-details1{
      position: relative;
      margin-right: 130px;
      top: 105px;
    }
    
    .f-details2{
      position: absolute;
      margin-right: 130px;
      top: 295px;
    }
    
    .f-details3{
      position: absolute;
      margin-right: 130px;
      top: 325px;
    }
    
    
    #About{
      position: absolute;
      top: 50px;
      margin-left: 215px;
    }
    
    #services{
      position: absolute;
      margin-left: 400px;
      top: 250px;
    }
    
    #contacts{
      position: relative;
      top: 250px;
      margin-left: -500px;
      font-size: 25px;
    }

    #contacts a{
        font-size: 20px;
    }
    
    
    
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
            
        }
    
}


@media screen and (min-device-width: 820px){
      
  #contacts{
    position: relative;
    top: 250px;
    margin-left: -530px;
    font-size: 25px;
  }
  .footer{
    position: absolute;
    font-size: 20px;
    background-color: white;
    top: 325rem;
  }
  
} 



@media screen and (min-device-width: 912px){
      

  .circle2 img{
    position: absolute;
    width: 1050px;
    top: 250px;
    left: -70px;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;
  }
  .square img{
    position: absolute;
    left: 220px;
    height: 350px;
    top: 150px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
  }

  .profile{
    position: absolute;
    left: 210px;
    width: 422px;
    top: 100px;
    
  }

  .details-information{
    position: absolute;
    top: 770px;
    left: 150px;
    margin: 15px;
    text-align: center;
  }
  .details-information h3{
    font-size: 35px;
    font-weight: bold;
    left: 0px;
  }
  .details-information h1{
    font-size: 45px;
    font-weight: bold;
    color: blue;  
  }
  .details-information .buttons{
    height: 60px;
    width: 150px;
    font-size: 19px;
    font-weight: bolder;
    color: white;
    background-color: blue;
    
  }
  .heading {
    position: absolute;
    top: -5rem;
    margin-left: -7rem;
    }

  #contacts{
    position: relative;
    top: 250px;
    left: -150px;
    font-size: 25px;
  }

  #About{
    position: absolute;
    top: 50px;
    left: 515px;
  }
  
  #services{
    position: absolute;
    left: 330px;
    top: 250px;
  }

  .contact-section a{
    position: absolute;
    box-shadow: 0px 0px 5px 1px white;
    border: 1px black;
    font-size: 20px;
    font-weight: 15px;
    left: 370px;
    top: 280px;
  }

  .footer{
    position: absolute;
    font-size: 20px;
    background-color: white;
    top: 320rem;
    padding-bottom: 20rem;;
  }
  
  
} 


@media screen and (min-device-width: 1024px){
  
  .circle2 img{
    position: absolute;
    width: 1200px;
    top: 250px;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;
  }

  
  


    
.square img{
  position: absolute;
  left: 250px;
  height: 500px;
  top: 150px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.profile{
  position: absolute;
  left: 270px;
  width: 470px;
  top: 100px;
  
}

.details-information{
  position: absolute;
  top: 870px;
  left: 240px;
  margin: 15px;
  text-align: center;
}
.details-information h3{
  font-size: 45px;
  font-weight: bold;
  left: 0px;
}
.details-information h1{
  font-size: 55px;
  font-weight: bold;
  color: blue;  
}
.details-information .buttons{
  height: 60px;
  width: 150px;
  font-size: 29px;
  font-weight: bolder;
  color: white;
  background-color: blue;
  
}

.Years{
  position: absolute;
  top: 250px;
  left: -11rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 19rem;
  color: black;
}

.heading {
  position: absolute;
  top: -5rem;
  margin-left: -7rem;
  }

.projects .heading {
  position: absolute;
  top: -5rem;
  margin-left: -10rem;
  }

.Testimonials{
  position: relative;
  top: 290rem;
  font-size: 25px;
}

.contact-section{
  position: relative;
    top: 300rem;
    font-size: 8px;
    width: 110%;
    height: 350px;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(31,28,250),rgb(34, 2, 159));
    padding-bottom: 125px;
  }

  .contact-section a{
    position: relative;
    box-shadow: 0px 0px 5px 1px white;
    border: 1px black;
    font-size: 20px;
    font-weight: 15px;
    left: 10px;
    top: -30px;
  }
  
.f-details{
  position: absolute;
  margin-right: 35rem;
  top: 90px;
}


  .footer{
    position: absolute;
    font-size: 20px;
    background-color: white;
    top: 327rem;
    padding-bottom: 20rem;
  }

  #contacts{
    position: relative;
    top: 250px;
    left: -238px;
    font-size: 25px;
  }


  
}


@media screen and (min-device-width: 1280px){
  .circle2 img{
    position: absolute;
    width: 1400px;
    top: 250px;
    left: -30px;
    transform: rotate(0deg);
    margin: 0;
    padding: 0;
  }

    

  


    
.square img{
  position: absolute;
  left: 400px;
  height: 500px;
  top: 150px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.profile{
  position: absolute;
  left: 400px;
  width: 530px;
  top: 100px;
  
}
.details-information{
  position: absolute;
  top: 900px;
  left: 370px;
  margin: 15px;
  text-align: center;
}

.f-details{
  position: absolute;
  margin-right: 50rem;
  top: 90px;
}


.Years{
  position: absolute;
  top: 250px;
  left: -11rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 20rem;
  color: black;
}

    
.services{
  position: absolute;
  top: 550px;
}

.heading {
   margin-left: -9rem;
position: relative;
top: 150rem;

color: black;
}


.service-order{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px;


}

.projects{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100rem;
}

.projects .heading {
  position: absolute;
  padding-bottom: 10rem;
  }

.Testimonials{
  position: relative;
  top: 300rem;
  font-size: 25px;
}

.contact-section{
  position: relative;
    top: 310rem;
    font-size: 8px;
    height: 350px;
    width: 100%;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(31,28,250),rgb(34, 2, 159));
    padding-bottom: 125px;
  }

  #contacts{
    position: relative;
    top: 250px;
    left: -27rem;
    font-size: 25px;
  }

  #About{
    position: absolute;
    top: 50px;
    margin-left: 505px;
  }

  #services{
    position: absolute;
    margin-left: 690px;
    top: 250px;
  }

  .footer{
    position: absolute;
    font-size: 20px;
    background-color: white;
    top: 335rem;
    padding-bottom: 20rem;;
  }

}


@media (min-device-width: 1490px){


  .circle3{
    height: 800px;

    background-image: url('half circle blue.png');
    position: relative;
    top: -10rem;
    background-repeat: no-repeat;
    left: 35%;
    width: 60rem;
    height: 50rem;
    border-bottom-left-radius: 50%;
    }

    .square3{
      height: 500px;
      width: 500px;
      top: 10rem;
      left: 60%;
      position: absolute;
      background-image: url('orange-square-clipart.jpg');
    
  }

  .profile{
    position: absolute;
    left: 58rem;
    width: 30rem;
    top: 5rem;
    
  }
  
  .line2{
    position: absolute;
    background-color: white;
    height: 300px;
    width: 100%;
    top: 41rem;
  }
  
  
  .details-information{
    position: relative;
    top: -40rem;
    left: 210px;
    margin-right: 66rem;
    text-align: left;
  }

  .details-information h3{
    font-size: 50px;
    font-weight: bold;
  }
  .details-information h1{
    font-size: 60px;
    font-weight: bolder;
    color: blue;  
  }
  .details-information button{
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: blue;
    padding: 10px;
    width: 105px;
  }

  .Years{
    position: absolute;
    top: 35rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 100%;
    gap: 400px;
    color: black;
    left: 3rem;
   
  }
  
  .heading {
    position: relative;
    top: -20rem;
    left: 70rem;
    }
  
  .Years p{
    color: gray;
    font-size: 25px;  
  }
  
  .Years h1{
    
    color: black;
    left: -10rem;
  }
  
  .services-tittle{
    position: absolute;
    width: 200%;
    left: 60rem;
    font-size: 100px;
  }
  .services-tittle h1{
    color: black;
  }
  
  .services{
    position: absolute;
    border-top: 50px solid white;
    background-color: white;
    top: 52rem;
  }
  
  .service-order{
    display: flex;
    gap: 150px;
    text-align: center;
    width: 100%;
  }
  
  
  .services h1{
    margin-bottom: 50px;
    font-size: 50px;
    color: black;
    margin-left:32rem;
  }
  .services a{
    font-size: 25px;
    text-decoration: none;
    color: blue;
  }
  
  .services h6{
    font-size: 30px;
    text-align: center;
  }
  
  
  .services img{
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  
  #mob-dev img{
    background-color: blue;
  }
  
  
  
  
  
  .projects{
    position: absolute;
    top: 90rem;
    left: -5rem;
    background-color: white;
  }

  .projects .row{
      display: grid;
  row-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: white;
  }
  
  .projects .heading {
    position: absolute;
    top: -110px;
    }
  
    .projects h1{
      margin-bottom: 50px;
      font-size: 50px;
      color: black;
      background-color: white;
      margin-left: 45rem;
    }
  
  .card-footer{
    text-align: center;
  }
  
  .projects a{
    height: 50px;
    width: 210px;
    background-color: blue;
  }

  .projects p{
    font-size: 15px;
  }

  .projects h5{
    text-align: left;
    font-size: 25px;
  }
  
  
  .projects img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .projects .card-text1{
    text-align: left;
    color: blue;
  }
  .images1{
      width: 350px;
      height: 264px;
  }
  
  .image2{
    width: 350px;
    height: 265px;
  }
  
  .image3{
    width: 350px;
    height: 265px;
  }
  @import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);


.Testimonials{
  position: relative;
  top: 73rem;
}

.Testimonials p{
  color: black;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

.testim {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;    
  -ms-transition: all .3s ease-in-out;    
  -moz-transition: all .3s ease-in-out;    
  -o-transition: all .3s ease-in-out;    
  transition: all .3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: black;
}
  

.testim .arrow.left {
  left: 10px;
}

.testim .arrow.right {
  right: 10px;
}

.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;    
  -ms-transition: all .5s ease-in-out;    
  -moz-transition: all .5s ease-in-out;    
  -o-transition: all .5s ease-in-out;    
  transition: all .5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: blue;
  border-color: blue;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale .5s ease-in-out forwards;   
  -moz-animation: testim-scale .5s ease-in-out forwards;   
  -ms-animation: testim-scale .5s ease-in-out forwards;   
  -o-animation: testim-scale .5s ease-in-out forwards;   
  animation: testim-scale .5s ease-in-out forwards;   
}
  
.testim .cont {
  position: relative;
  overflow: hidden;
}

.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .cont > div.inactive {
  opacity: 1;
}
  

.testim .cont > div.active {
  position: relative;
  opacity: 1;
}
  

.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.testim .cont div h2 {
  color: black;
  font-size: 1em;
  margin: 15px 0;
}

.testim .cont div p {
  font-size: 1.15em;
  color: #eee;
  width: 80%;
  margin: auto;
}

.testim .cont div.active .img img {
  -webkit-animation: testim-show .5s ease-in-out forwards;            
  -moz-animation: testim-show .5s ease-in-out forwards;            
  -ms-animation: testim-show .5s ease-in-out forwards;            
  -o-animation: testim-show .5s ease-in-out forwards;            
  animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
  -webkit-animation: testim-content-in .4s ease-in-out forwards;    
  -moz-animation: testim-content-in .4s ease-in-out forwards;    
  -ms-animation: testim-content-in .4s ease-in-out forwards;    
  -o-animation: testim-content-in .4s ease-in-out forwards;    
  animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
  -webkit-animation: testim-content-in .5s ease-in-out forwards;    
  -moz-animation: testim-content-in .5s ease-in-out forwards;    
  -ms-animation: testim-content-in .5s ease-in-out forwards;    
  -o-animation: testim-content-in .5s ease-in-out forwards;    
  animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
  -webkit-animation: testim-hide .5s ease-in-out forwards;            
  -moz-animation: testim-hide .5s ease-in-out forwards;            
  -ms-animation: testim-hide .5s ease-in-out forwards;            
  -o-animation: testim-hide .5s ease-in-out forwards;            
  animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
  -webkit-animation: testim-content-out .4s ease-in-out forwards;        
  -moz-animation: testim-content-out .4s ease-in-out forwards;        
  -ms-animation: testim-content-out .4s ease-in-out forwards;        
  -o-animation: testim-content-out .4s ease-in-out forwards;        
  animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
  -webkit-animation: testim-content-out .5s ease-in-out forwards;    
  -moz-animation: testim-content-out .5s ease-in-out forwards;    
  -ms-animation: testim-content-out .5s ease-in-out forwards;    
  -o-animation: testim-content-out .5s ease-in-out forwards;    
  animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
  0% {
      -webkit-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -webkit-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -webkit-box-shadow: 0px 0px 10px 5px black;        
      box-shadow: 0px 0px 10px 5px black;        
  }

  100% {
      -webkit-box-shadow: 0px 0px 0px 0px black;        
      box-shadow: 0px 0px 0px 0px black;        
  }
}

@-moz-keyframes testim-scale {
  0% {
      -moz-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -moz-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -moz-box-shadow: 0px 0px 10px 5px black;        
      box-shadow: 0px 0px 10px 5px black;        
  }

  100% {
      -moz-box-shadow: 0px 0px 0px 0px black;        
      box-shadow: 0px 0px 0px 0px black;        
  }
}

@-ms-keyframes testim-scale {
  0% {
      -ms-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -ms-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -ms-box-shadow: 0px 0px 10px 5px black;        
      box-shadow: 0px 0px 10px 5px black;        
  }

  100% {
      -ms-box-shadow: 0px 0px 0px 0px black;        
      box-shadow: 0px 0px 0px 0px black;        
  }
}

@-o-keyframes testim-scale {
  0% {
      -o-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -o-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -o-box-shadow: 0px 0px 10px 5px black;        
      box-shadow: 0px 0px 10px 5px black;        
  }

  100% {
      -o-box-shadow: 0px 0px 0px 0px black;        
      box-shadow: 0px 0px 0px 0px black;        
  }
}

@keyframes testim-scale {
  0% {
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      box-shadow: 0px 0px 10px 5px black;        
  }

  100% {
      box-shadow: 0px 0px 0px 0px black;        
  }
}

@-webkit-keyframes testim-content-in {
  from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -webkit-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-moz-keyframes testim-content-in {
  from {
      opacity: 0;
      -moz-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -moz-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-ms-keyframes testim-content-in {
  from {
      opacity: 0;
      -ms-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -ms-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-o-keyframes testim-content-in {
  from {
      opacity: 0;
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -o-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@keyframes testim-content-in {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      transform: translateY(0);        
  }
}

@-webkit-keyframes testim-content-out {
  from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -webkit-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-moz-keyframes testim-content-out {
  from {
      opacity: 1;
      -moz-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -moz-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-ms-keyframes testim-content-out {
  from {
      opacity: 1;
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -ms-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-o-keyframes testim-content-out {
  from {
      opacity: 1;
      -o-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@keyframes testim-content-out {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
  }
}

@-webkit-keyframes testim-show {
  from {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
}

@-moz-keyframes testim-show {
  from {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
}

@-ms-keyframes testim-show {
  from {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
}

@-o-keyframes testim-show {
  from {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
}

@keyframes testim-show {
  from {
      opacity: 0;
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      transform: scale(1);       
  }
}

@-webkit-keyframes testim-hide {
  from {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
      opacity: 1;
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      transform: scale(0);
  }

}


.contact-section{
  top: 160rem;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(31,28,250),rgb(34, 2, 159));
  padding-top: 100px;
  padding-bottom: 100px;
}

.f-details{
  margin-right: 70rem;
}

.f-details1{
  top: 11rem;
}

.f-details2{
  top: 20.5rem;
}

.f-details3{
  top: 22.3rem;
}






.contact-section a{
  box-shadow: 0px 0px 5px 1px white;
  border: 5px black;
}

.footer{
  position: absolute;
  width: 100%;
  background-color: white;
  top: 183rem;
  padding-top: 50px;
  padding-bottom: 15rem;
  padding-left: 5rem;
}

.footer-section a{
  color: black;
  text-decoration-line: none;
}

.footer-section img{
  border-radius: 35px;
  height: 30px;
}

#About{
  top: 3rem;
  left: 28rem;
}

#services{
  top: 3rem;
  left: 27rem;
}

#contacts{
  top: -4rem;
  left: 40rem;
}
}